<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <h1>Created by Mason Jenkins</h1>
  <h3>Developed for SWDV 665 Final Project at Maryville University</h3>
  
</ion-content>
